*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #289c19;
}

.home{
    display: flex;
    height: 700px;
}

.home_left{
    width: 50%;
    background-color: #ffffff(35, 35, 97);
}

.home_right{
    width: 50%;
}

.home_right img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.home_left_nav{
    margin: 30px;
}

.up{
    font-size: 25px;
    font-weight: 500;
}

ul{
    list-style-type: none;

}

li{
    float: left;
    margin: 10px 30px 30px 0px;
    color: black;
    font-weight: 200;
}

li:hover{
    color: #67c75b;
}

.left_down{
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.name_up{
    font-size: 40px;
    font-weight: 500;
    margin-left: 230px;
}

.name_down{
    font-size: 80px;
    color: black;
    font-weight: 200;
    margin-left: 230px;
}

.right_icon{
    background-color: #ffffff;
    height: 150px;
    width: 35px;
    display: flex;
    flex-direction: column;
    font-size: 27px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 300px;
    opacity: 0.3;
    border-radius: 5px 0px 0px 5px;
}

.right_icon:hover{
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.07s;
}

.fa-brands:hover{
color: #15500e;
transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.07s;
}

.about{
    height: 400px;
    background-color: rgb(243, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

h1{
    font-weight: 500;
    font-size: 45px;
}

p{
    font-weight: 200;
    color: black;
    letter-spacing: 0.5px;
}

.about button{
    background-color: #289c19;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.about button:hover{
    background-color: #15500e;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.07s;
}


.about_para{
    width: 50%;
    text-align: center;
}


/* skills */

.skill{
    height: 550px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.skill_left{
    height: 100%;
    width: 50%;
}

.skill_right{
    height: 80%;
    width: 50%;
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
}

.skill_right p{
    width: 80%;
    position: relative;
    bottom: 40px;
}

.skill_left img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.indi_sk{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sk{
    background-color: rgb(241, 235, 235);
    width: 80%;
    height: 25px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-weight: 600;
    opacity: 0.8;
}

.sk:hover{
    background-color: rgb(212, 209, 209);
    width: 85%;
    font-weight: 700;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 1;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    background-color: rgb(241, 235, 235);
}

.project_card{
    display: flex;
    width: 90%;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin: 20px 0px;
}

.card{
    background-color: #ffffff;
    height: 350px;
    width: 300px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-weight: 200;
    border-radius: 8px;
}

.card:hover{
    background-color: rgb(212, 209, 209);
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.07s;
    cursor: pointer;
}

.card span{
    font-weight: 500;
}
.card img{
    height: 200px;
    width: 300px;
}

.card button{
    background-color: #289c19;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_part{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.contact_part input{
    padding: 0px 0px 0px 10px;
}

.contact_part textarea{
    padding: 0px 0px 0px 10px;
}

.contact_txt{
    height: 30px;
    width: 400px;
    border: none;
    background-color: rgb(241, 235, 235);
    border-radius: 5px;
    margin-top: 13px;
}

.contact_msg{
    height: 150px;
    width: 400px;
    border: none;
    background-color: rgb(241, 235, 235);
    border-radius: 5px;
    margin: 13px 0px 25px 0px;
}

.contact_part button{
    height: 30px;
    width: 100px;
    background-color: #289c19;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.contact_part button:hover{
    background-color: #15500e;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.07s;
}

footer{
    height: 50px;
    background-color: rgb(221, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}
@media (min-width:200px) and (max-width:500px) 
{

    .home{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
.home_left{
    width: 100%;
    height: 50%;
    
}

.home_left_nav{
    margin: 30px;
    padding: 0px;
    
}
.home_right{
    position: relative;
    left: 180px;
    bottom: 55px;
}

#home_img{
    border-radius: 50%;
}

.left_down{
    width: 90%;
    
    position: relative;
    top: 28%;
}

.name_up, .name_down{
    position: relative;
    right: 55%;
    
}

.name_up{
    font-size: 25px;
}

.name_down{
    font-size: 50px;
}

.about h1{
    font-size: 25px;
}

.about_para {
    font-size: 15px;
    width: 80%;
}
    
.skill{
height: 650px;
    /* display: flex;
    flex-direction: column; */
}

.skill_left{
    width: 0%;
}

.skill_right{
    width: 100%;
}

#skill_img{
    display: none;
}

.project_card{
    flex-direction: column;
    
    align-items: center;
}
.card{
    margin-bottom: 30px;
}

.contact_txt{
    height: 30px;
    width: 200px;
}

.contact_msg{
    height: 100px;
    width: 200px;
}

footer{
    font-size: 13px;
    height: 30px;
}

}
